<p id="notice"><%= notice %></p>

<h1>Vocabs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%= will_paginate %>

  <tbody>
    <tr>
    <td>Id</td>
    <td>Russian</td>
    <td>English</td>
    <td>Sentence</td>
    </tr>
    <% @vocabs.each do |vocab| %>
      <tr>
        <td><%= vocab.id %></td>
        <td><%= vocab.russian %></td>
        <td><%= vocab.english %></td>
        <td><%= vocab.sentence %></td>
        <td><%= link_to 'Show', vocab %></td>
        <td><%= link_to 'Edit', edit_vocab_path(vocab) %></td>
        <td><%= link_to 'Destroy', vocab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Vocab', new_vocab_path %>
